<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>EVM_RPC_URL</key>
	<string>${EVM_RPC_URL}</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Bold.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
	</array>
	<key>ORGS_API</key>
	<string>${ORGS_API}</string>
	<key>ACCOUNT_FACTORY_ADDRESS</key>
	<string>${ACCOUNT_FACTORY_ADDRESS}</string>
	<key>ERC20_ADDRESS</key>
	<string>${ERC20_ADDRESS}</string>
</dict>
</plist>
